.book-button-container {
  position: fixed;
  display: inline-block;
  margin-bottom: 200px;
  perspective: 1200px;
  z-index: 500;
  margin-left: 60vw;
  margin-top: 70vh;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 40vw;
  cursor: pointer;
  backface-visibility: visible;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 30vw;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addbook-button-icon {
  color: whitesmoke;
  font-size: 3rem;
}

.front, .back {
  background: rgb(94, 98, 128);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .3);
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #E6BE8A;
}

.page2 {
  background: #E6BE8A;
}

.page3 {
  background: #FFD788;
}

.page4 {
  background: #FFD788;
}

.page5 {
  background: rgb(248, 228, 176);
  font-size: 3rem;
  color: rgb(94, 98, 128);
}

.page6 {
  background: #FFEBB7;
  font-size: 3rem;
  color: rgb(94, 98, 128);
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

/* Media query for desktop computers and large laptops */

@media (min-width: 1281px) {

  .book-button-container {
    margin-left: 84vw;
    margin-top: 64vh;
  }
  
  .book {
    height: 16vw;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 12vw;
  }
  
}

/* Small desktop screens and laptops */

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .book-button-container {
    margin-left: 84vw;
    margin-top: 64vh;
  }
  
  .book {
    height: 16vw;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 12vw;
  }
  
}

/* Tablets and Ipads in portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {

  .book-button-container {
    margin-left: 66vw;
    margin-top: 70vh;
  }
  
  .book {
    height: 30vw;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 25vw;
  }
  
}

/* Tablets and Ipads in landscape mode */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .book-button-container {
    margin-left: 80vw;
    margin-top: 67vh;
  }
  
  .book {
    height: 18vw;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 14vw;
  }
  
}

/* Mobiles in landscape mode */

@media (min-width: 481px) and (max-width: 767px) {
  
  .book-button-container {
    margin-left: 83vw;
    margin-top: 63vh;
  }
  
  .book {
    height: 17vw;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 13vw;
  }
  
}
