.add-book-button {
  width: 25vw;
  height: 20vh;
  background-color: maroon;
  border-top-left-radius: 5%;
  border-top-right-radius: 20%;
  border-style: none;
  position: fixed;
  bottom: 0vh;
  right: 37.5vw;
  outline: 0;
  z-index: 100;
}