.map{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.mapboxgl-popup-content {
  color: rgb(49, 53, 68);
  background-color: #FFEBB7 !important;
  border-color: #FFD788;
  width: 59vw !important;
  height: 30vh !important;
  font-family: 'Oswald';
  padding: 0 !important;
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .5) !important;
}

.mapboxgl-popup-tip {
  border-top-color: #1A1A1D !important; 
}

.marker-icon{
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('/images/open-book.svg') ;
}

.buttonUpdate {
  margin-left: 50%;
}