.map{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.mapboxgl-popup-content {
  color: #F3F3DD;
  background-color: #1A1A1D !important;
  border-color: #1A1A1D;
  width: 55vw !important;
  height: 30vh !important;
  font-family: 'Oswald';
  padding: 0 !important;
}

.mapboxgl-popup-tip {
  border-top-color: #1A1A1D !important; 
}

.marker-icon{
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('/images/open-book.svg') ;
}

.buttonUpdate {
  margin-left: 50%;
}