.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 2rem;
  font-size: 1.5rem;
  width: 57vw;
  background-color: grey;
  border-style: none;
  color: black;
}

.form input::placeholder {
  color: rgb(68, 68, 68);
}
