#slidingMenu {
  width: 75vw;
  height: 100vh;
  background-color: rgb(250, 244, 235);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .6s cubic-bezier(0, .52, 0, 1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .5) !important;
  z-index: 1000;
}

#slidingMenu.hidden {
  transform: translate3d(-100vw, 0, 0);
}

#slidingMenu.shown {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.sliding-menu-username {
  height: 10vh;
  margin: 0;
  font-size: 2rem;
  padding: 5vh 2rem;
  text-transform: capitalize;
  color: rgb(94, 98, 128);
  font-weight: bold;
}

.sliding-menu-logout {
  height: 10vh;
  margin: 0;
  font-size: 2rem;
}

.toggle-btn{
  border: none;
  background-color: transparent;
  color: rgb(94, 98, 128);
  margin-left: 6rem;
}