.captured-books-container{
  height: 60vh;
}

.no-books-message {
  font-size: 1.9rem;
  color: rgb(94, 98, 128);
  text-align: center;
  padding: 25% 5%;
}

.captured-book-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.list{
  list-style: none;
  padding: 0;
}

.list-container{
  padding: 1rem 2rem;
}